---
layout: layout-page.njk
title: Página de inicio
description: Meta descripción de la página de inicio
---

<h1>{{ title }}</h1>

<p>
Hola, este es una <i>Wiki</i> para el videojuego de <b><i>Terraria</i></b>, desplegado en <i>GitHub Pages</i>.
</p>
<hr>
<p>
Terraria es un juego sandbox, de acción y aventura creado por Andrew Spinks tambien conocido como "Redigit", y lanzado en el 2011. El juego tiene una perspectiva en 2D y se centra en la exploración, la construcción, la creación de objetos, la supervivencia y el combate. El juego tiene un mundo abierto generado proceduralmente, que incluye bosques, desiertos, montañas, cuevas y otros biomas. El mundo está poblado por una variedad de enemigos, incluidos zombis, demonios y otros monstruos. Los jugadores pueden explorar el mundo, recolectar recursos, construir estructuras y luchar contra enemigos.
</p>
<hr>
<p>
Aqui podras leer articulos sobre el comportamiento interno del juego y como puedes sacarle el mayor provecho a tus aventuras en el mundo de Terraria.
</p>

